.container {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navbar {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.logout-btn {
    color:black;
    text-decoration:none; 
}

.table-group {
    display: flex;
    justify-content: center;
    align-items: center
}

.table {
    border-collapse: collapse;
    width: 90%;
}

.table th,
.table td {
    border: 2px solid #00769E;
    padding: 15px;
    text-align: center;
}

.table th {
    background-color: #0099CC;
    color: white;
}

.search {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-control {
    width: 70%;
    height: 40px;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #6ce1e97e;
}

.edit {
    background-color: #6CE1E9;
}
.edit a {
    text-decoration: none;
}

.delete {
    background-color: #F27777;
}
.delete a {
    text-decoration: none;
}

.btn-home a{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #0099CC;
    color: #fff;
    border-radius: 10px;
}
.btn-home {
    display: flex;
    justify-content: center;
    align-items: center
}
