body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.container {
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-control {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    background-color: #6ce1e97e;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.form-control-second {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    background-color: #6ce1e97e;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.btn-first, .btn-cancle {
    text-align: center;
    margin-top: 20px;
}
.btn-cancle a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #FF0000;
    color: #fff;
    border-radius: 10px;
}

.form-group-1 button {
    background-color: #00e85d;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 14px;
}

.form-group-1 button a {
    color: #000000;
    text-decoration: none;
}
